.banner {
    width: 100%;
    height: 26rem;
    background: url(../image/index/banner.png) no-repeat;
    background-size: cover;
    position: relative;
}

.banner input {
    width: 90%;
    height: 4rem;
    border-top: .2rem solid rgb(33, 33.33);
    border-left: .2rem solid rgb(33, 33.33);
    border-right: .2rem solid rgb(118, 118, 118);
    border-bottom: .2rem solid rgb(118, 118, 118);
    border-radius: .5rem;
    position: absolute;
    left: 1.6rem;
    bottom: 1rem;
    padding-left: 3rem;
    box-sizing: border-box;
    background-color: white;
    outline: none;
}

.banner .icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url(../image/index/seach.jpg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 2.4rem;
    bottom: 1.8rem;
    z-index: 2;
}

.navList {
    background: #ff8a00;
    color: white;
    text-align: center;
}

.navList>ul {
    display: flex;
    justify-content: space-evenly;
}

.navList>ul li {
    width: 22%;
    margin: 1.5rem;

}

.navList>ul li img {
    width: 95%;
}


.banner2>img {
    width: 100%;
    margin: 1rem 0;
}


.hotHouse>p {
    background: #ff8a00;
    color: white;
    height: 6rem;
    font-size: 2rem;
    font-weight: 900;
    padding: 1.5rem 0 0 1.5rem;

}

.hotHouse>p span {
    font-size: 1.2rem;
}

.hotHouse>ul {
    width: 90%;
    margin: 0 auto;
}

.hotHouse>ul li {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid red;
}

.hotHouse>ul li:nth-of-type(3) {
    border-bottom: none;
}

.hotHouse .img {
    width: 30%;
    height: 9rem;
    margin-right: 1.5rem;
}

.hotHouse .img img {
    width: 100%;
    height: 100%;
}

.hotHouse .text {
    width: 70%;
}

.hotHouse .text h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.hotHouse .text p {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.hotHouse .text p span {
    float: right;
}

.hotHouse .text p:nth-of-type(1) span {
    color: rgb(255, 138, 0);
}

.hotHouse .text p:nth-of-type(2) {
    color: rgb(153, 153, 153);
}

.hotHouse .text p:nth-of-type(3) a {
    background-color: rgb(246, 252, 255);
    color: rgb(132, 154, 174);
    padding: .5rem;
}

.hotAttention {
    margin-top: 1rem;
}

.hotAttention .title {
    display: flex;
    justify-content: space-evenly;
    border-bottom: .1rem solid rgb(255, 138, 0);
}

.title>li {
    width: 49.99%;
    font-size: 2.2rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.title>li:nth-of-type(1) {
    border-bottom: .1rem solid rgb(255, 138, 0);
}

.title>li:nth-of-type(1) a {
    color: rgb(255, 138, 0);
}

.title>li:nth-of-type(2) a {
    color: rgb(102, 102, 102);
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.content>ul {
    width: 49%;
}

.content ul li {
    height: 4rem;
    line-height: 4rem;
}

.content>ul li a {
    color: rgb(102, 102, 102);
    font-size: 1.4rem;
    margin-left: 2rem;
}



.download {
    width: 100%;
    height: 6rem;
    position: fixed;
    color: white;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .4);
}

.left {
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

.left img {
    width: 60%;
}

.center {
    margin-top: .5rem;
}

.center p:nth-of-type(1) {
    font-size: 2rem;
}

.center p:nth-of-type(2) {
    font-size: 1.4rem;
}

.right {
    width: 12rem;
    background-color: #ff8a00;
    font-size: 1.8rem;
    text-align: center;
    line-height: 6rem;
}

#close {
    position: absolute;
    top: 0;
    left: 0;
}