/* 中间部分 */
.div_3 {
    width: 100%;
    height: 5rem;
    background-color: #FFFFFF;
    line-height: 5rem;
    font-size: 1.5rem;
    border-bottom: .1rem solid #555555;
}

.div_3>strong {
    margin-left: 2rem;
}

/* input框 */
.div_4 {
    width: 100%;
    height: 7.6rem;
    overflow: hidden;
    position: relative;
}

.div_4>span {
    float: right;
    width: 5rem;
    height: 3rem;
    position: absolute;
    top: 2rem;
    right: 4.6rem;
    line-height: 3rem;
    background: url(../image/SecondHandList/search_03.png) no-repeat 2.2rem;
    background-size: contain;
}

input {
    display: block;
    margin: 1rem auto;
    width: 85%;
    height: 60%;
    /* background-color: #FFFFFF; */
    border-color: #DEDEDE;
    outline: none;
    border-radius: .5rem;
}

/* 下边房子信息内容 */
.ul_2 {
    width: 100%;
    /* height: 100rem; */
    display: flex;
    flex-direction: column;
    list-style: none;

}

.ul_2>li {
    width: 85%;
    height: 14rem;
    margin: 1rem auto;
    /* background-color: red; */
    border-bottom: 1px solid #FABB6F;
    display: flex;
}

.div_5 {
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
    background-color: #555555;
}

.div_5>img {
    width: 100%;
    height: 100%;
}

.div_6 {
    padding: 0 1.5rem;
    box-sizing: border-box;
    /* background-color: red; */
    flex: 1;
}

.div_6>p {
    font-size: 1.4rem;
    color: #000;
    margin-top: 1rem;
}

.div_6>span {
    display: inline-block;
    width: 6.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.5rem;
    border: 1px solid #6da719;
    margin-top: 1rem;
    color: #6da719;
}

.div_6>span:nth-of-type(2) {
    border: 0;
    color: #ff8a00;
    margin-left: 5.3rem;
    font-weight: 600;
}